* {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: Helvetica;
  font-style: normal;
}
header.header {
  flex: 0 0 80px;
  padding: 24px 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(79, 88, 178, 0.25);
  position: relative;
}
.header ul {
  display: flex;
  flex-direction: row;
}

.header ul li a {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-transform: capitalize;
  color: #131320;
  text-decoration: none;
  padding: 0 24px 0;
}
.header ul li:nth-child(2) {
  margin-left: 120px;
}

.header ul li a:hover {
  color: rgba(106, 117, 202, 1);
}
.header ul li:first-child a {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #6a75ca;
  text-decoration: none;
  padding-left: 48px;
}
.main {
  background: rgba(229, 229, 229, 1);
  flex-grow: 1;
  display: flex;
}
.sidebar {
  background: #6a75ca;
  flex: 0 0 240px;
}
.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  background: #e5e5e5;
  flex-grow: 1;
  padding: 24px 0px 25px 48px;
}
.footer {
  background: rgb(65, 69, 70);
  flex: 0 0 80px;
  padding: 10px 15px;
}
.main .sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 16px 0 0 32px;
}
.main .sidebar ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 16px;
}
.main .sidebar ul li a:hover:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 1px -2px 4px #ffc806;
  position: absolute;
  left: 28px;
  margin-top: 21px;
}

h2.h2-head {
  font-weight: 700;
  font-size: 36px;
  color: #131320;
  border-bottom: 1px solid #131320;
  position: relative;
  right: 48px;
  padding: 0px 0 24px 48px;
}
h3.h3-head {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-top: 52px;
  padding-bottom: 18px;
  border-bottom: 1px solid #131320;
  text-transform: uppercase;
}
h1.h1 {
  font-size: 54px;
  font-weight: 700;
  color: #131320;
  margin-top: 28px;
}
h2.h2 {
  font-size: 36px;
  font-weight: 700;
}
h3.h3 {
  font-weight: 700;
  font-size: 24px;
}
h4.h4 {
  font-weight: 700;
  font-size: 16px;
}
.content .box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #6a75ca;
  padding: 32px 0 32px 88px;
  margin: 24px 48px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  border-radius: 6px;
  clip-path: polygon(
    0 0,
    95% 0%,
    100% 50px,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
}
p.text-white {
  position: relative;
  right: 20px;
}
.i-round {
  width: 24px;
  height: 24px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  color: gold;
  text-align: center;
  position: relative;
  right: 55px;
  border: 1px gold solid;
  border-radius: 50%;
}
.headings li {
  margin-top: 32px;
}
.headings li:nth-child(1) {
  margin-top: 3px;
}
.headings li:nth-child(2) {
  margin-top: 50px;
}
.headings li:nth-child(3) {
  margin-top: 35px;
}
.headings li:nth-child(4) {
  margin-top: 33px;
}
.headings li:nth-child(5) {
  margin-top: 25px;
}
.headings li:nth-child(6) {
  margin: 25px 0 15px;
}
.code-area {
  background: #ffffff;
  border-radius: 8px;
  padding: 28px 0 28px 48px;
  clip-path: polygon(
    0 0,
    95% 0%,
    100% 50px,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
}
.cover {
  background: #e5e5e5;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #4f58b2;
  margin: 0px 48px 15px 0;
}
div.hat {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffc806;
  max-width: 45px;
  padding: 0px 8px 0px 8px;
  position: relative;
  top: 12px;
  left: 24px;
  text-align: center;
  background: #e5e5e5;
}
code.code {
  font-family: "Courier";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7d868e;
}
li.nav-item {
  display: flex;
}
.footer ul li a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: normal;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  list-style: none;
  margin: 30px 48px 61px 0;
  padding-right: 60px;
}

.nav-item a {
  display: flex;
  align-items: center;
  background: #fff;
  margin: 0 25px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 0px 2px;
}

.nav-item a:hover {
  background-color: rgba(204, 204, 204, 1);
}

.nav-item a::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 24px;
  border-color: transparent transparent transparent white;
  position: relative;
  left: 26px;
}

li.nav-item :hover::after {
  border-color: transparent transparent transparent rgba(204, 204, 204, 1);
}

li.nav-item :hover::before {
  border-color: rgba(204, 204, 204, 1) rgba(204, 204, 204, 1)
    rgba(204, 204, 204, 1) transparent;
}

.nav-item a::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 24px;
  border-color: white white white transparent;
  position: relative;
  right: 26px;
}

.gradient .nav-list {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
  border: 2px solid;
  border-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}

.gradient .nav-list .nav-item :hover {
  background-color: rgba(222, 222, 222, 0.7);
}
.gradient .nav-item :hover::before {
  border-color: rgba(222, 222, 222, 0.7) rgba(222, 222, 222, 0.7)
    rgba(222, 222, 222, 0.7) transparent;
}
.gradient .nav-item :hover::after {
  border-color: transparent transparent transparent rgba(222, 222, 222, 0.7);
}
h1.h1-dashboard {
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
  color: #131320;
  justify-content: center;
  display: flex;
  margin: 100px 0 0 0;
}
.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.code-area-dashboard {
  background: #ffffff;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  padding: 28px 0 28px 48px;
  clip-path: polygon(
    0 0,
    75% 0%,
    100% 60px,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
  margin: 0 18px 0 18px;
  padding: 32px;
  font-family: "Courier";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.code-area-dashboard:first-of-type {
  background: #6a75ca;
  color: white;
}
.container-column .code-area-dashboard {
  width: 796px;
  margin-top: 48px;
  clip-path: polygon(
    0 0,
    92% 0%,
    100% 60px,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );

  padding: 12px 60px 12px 32px;
}
